<ion-header>
  <ion-toolbar>
    <ion-title>MyDeshboard</ion-title>
    <a style="font-size: 25px;"  routerLink="/main"> Back</a><br>
  </ion-toolbar>
</ion-header>

<ion-content>
<h4>Welcome : Mr Suresh Kumar Thakur</h4> <a style="font-size: 35px;" routerLink="/search">Srarch</a><br><br><br>
<input (click)="Download()"class="submit action-button" value="Download"/>
<mat-card   style="text-align: center;background-color:cadetblue;" >
  <mat-card-title >Your Details</mat-card-title>
  <div class="form-row">
    <div class="form-group col-md-6">
      <ion-item> 
        <span>Suresh Kumar Thakur</span>      
      </ion-item>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <ion-item>
        <span>Raghunandan Thakur</span>
      </ion-item>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <ion-item>
        <span>Suresh@gmail.com</span>
      </ion-item>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <ion-item>
        <span>7411324214</span>
      </ion-item>
    </div>
  </div>
</mat-card>
</ion-content>
